.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    opacity:.85;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index:10;
  }

  .dot.active {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index:10;
  }

  .dotcontainer {
    position: relative;
    padding-top: 370px;
    text-align: left;
    color: white;
    font-size: 15px;
    z-index:1;
  }
  