.slider {
    position: relative;
    @height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.imageslide {
  @min-width: 500px;
  max-width: 100%;
  height:auto;
    border-radius: 10px;
    position:absolute;
  }
  
  .right-arrow {
    position: absolute;
    top: 45%;
    right: 32px;
    font-size: 3rem;
    color: rgb(34, 32, 32);
    z-index:10;
    cursor: pointer;
    user-select: none;
  }
  .right-arrow:hover {
    color:rgb(185, 185, 185);
    transition-duration:.3s;
  }
  
  .left-arrow {
    position: absolute;
    top: 45%;
    left: 32px;
    font-size: 3rem;
    color:rgb(34, 32, 32);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left-arrow:hover {
    color:rgb(185, 185, 185);
    transition-duration: .3s;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: .8s;
  }

  .slidecontainer {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: white;
    font-size: 15px;
    z-index:1;
  }

  #slideid{ 
    margin:auto;
    width: 1000px;
    height: 400px;
    position: absolute;
    transition: 1200ms;
    z-index:1;
  }

